* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right, #0c164d, #190b22);
}

.stellar-body {
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.title {
  position: absolute;
  right: 5%;
  top: 5%;
}
.main-title {
  font-size: 60px;
  line-height: 60px;
  color: white;
  letter-spacing: 8px;
  font-family: "Secular One", sans-serif;
}
.secondary-title {
  font-size: 24px;
  color: #ffd029;
  letter-spacing: 16px;
  font-family: "Lora", sans-serif;
}

.title .secondary-title {
  text-align: right;
}

.solen {
  background-color: #ffd029;
  box-shadow: 0 0 250px #ffd02933;
}

#planets {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 5% 0 13%;
  align-items: center;
  justify-content: space-between;
}
#planets .stellar-body {
  transition: opacity 0.4s ease, transform 0.2s ease;
}

#planets .stellar-body:hover {
  transform: scale(1.05);
}

.merkurius {
  width: 14px;
  height: 14px;
  background: #888;
}

.venus {
  width: 26px;
  height: 26px;
  background: #e7cdcd;
}

.tellus {
  width: 28px;
  height: 28px;
  background: #428ed4;
}

.mars {
  width: 14px;
  height: 14px;
  background: #ef5f5f;
}

.lovis {
  width: 188px;
  height: 188px;
  background: #e29468;
}

.saturnus {
  width: 144px;
  height: 144px;
  background: #c7aa72;
  position: relative;
}

.uranus {
  width: 66px;
  height: 66px;
  background: #c9d4f1;
}

.neptunus {
  width: 66px;
  height: 66px;
  background: #7a91a7;
}

.line {
  transform: rotate(-30deg);
  background: #ffffff66;
  width: 218px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: -26%;
}

#error {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 100vh;
}

.big-body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40%;
  width: 900px;
  height: 900px;
}

#planet-info {
  justify-content: center;
  min-height: 100vh;
  padding-top: 75px;
  font-family: "Roboto", sans-serif;
  display: none;
}

#back-button {
  position: absolute;
  top: 5%;
  left: 2%;
  color: #ffffff91;
  cursor: pointer;
  background: transparent;
  font-size: 25px;
  outline: none;
  font-family: "Roboto", sans-serif;
  border: none;
  transition: color 0.1s ease;
}
#back-button:hover {
  color: #fff;
}

.planet-info-content {
  width: 50%;
  color: #fff;
}

.planet-info-secondary {
  margin: 30px 0;
}

#planet-info-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}

.stats {
  margin: 30px 0;
  padding: 35px 0;
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  display: flex;
  justify-content: space-between;
  padding-right: 30%;
}
.stat {
  margin: 20px 0;
}
.stat-info {
  font-weight: 200;
  margin-top: 15px;
  display: block;
  word-break: break-word;
}

.search-wrap {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
#search {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background: #ffffff33;
  color: #fff;
}
